/* body */
body {
    background-color: rgb(0, 0, 0);
}

/* profile-image */
div.profile-image img {
    text-align: center;
    margin-top: 100px;
    height: 300px;
    width: 300px;
}

div.profile-image p {
    color: white;
    font-size: 18px;
}



/* Navbar */
nav.navbar.navbar-expand-lg.navbar-light {
    background-color: rgb(0, 0, 0);
}

.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

ul.navbar-nav li.nav-item a.nav-link {
    color: rgb(255, 255, 255);
}

ul.nav.navbar-nav.navbar-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

a.nav-link img {
    height: 35px;

}

.navbar-light .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

/* Footer CSS */
.page-footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: rgb(255, 255, 255);
    
}


a.social-media-links img {
    height: 30px;
}
