nav.navbar.navbar-expand-lg.navbar-light {
    background-color: black;
}


ul.navbar-nav li.nav-item a.nav-link {
    color: white;
}

ul.nav.navbar-nav.navbar-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

a.nav-link img {
    height: 35px;

}

