nav.navbar.navbar-expand-lg.navbar-light {
    background-color: black;
}

.navbar-light .navbar-brand {
    color: white;
}

ul.navbar-nav li.nav-item a.nav-link {
    color: white;
}

ul.nav.navbar-nav.navbar-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

a.nav-link img {
    height: 35px;

}

/* Footer CSS */
.page-footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    
}


a.social-media-links img {
    height: 30px;
}
